@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Book Generator</h1>
    <p>Enter a title for the book</p>
    <form action="@Url.Action("Generate", "Home")" method="post">
        <input type="text" name="bookTitle" autofocus="autofocus" style="width: 70%; min-width: 180px;" />
        <button type="submit">Generate</button>
    </form>
</div>
